Python Program Practice

In [3]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [8]:
st = 'Print only the words that start with s in this sentence'

for word in st.split():
    if 's' in word[0]:
        print(word)

start
s
sentence

In [14]:
for num in range(0,10):
    if num%2 == 0:
        print(num)

0
2
4
6
8

In [30]:
[no for no in range(1,50) if no%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [19]:
st = 'Print only the words that start with s in this sentence'

for word in st.split():
    if len(word)%2 == 0:
        print("even!")

even!
even!
even!
even!
even!
even!

In [15]:
for num in range(1,50):
    if num%3 == 0:
        print("Fizz")
    elif num%5== 0:
        print("Buzz")
    elif num%3 == 0 and num%5== 0:
        print("FizzBuzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizz
46
47
Fizz
49

In [23]:
st = 'Print only the words that start with s in this sentence'

temp = [(word[0]) for word in st.split()]

temp

In [24]:
temp

['P', 'o', 't', 'w', 't', 's', 'w', 's', 'i', 't', 's']

In [25]:
def myfunc(str="hellobaby"):
    lstr=""
    num=0
    for i in str:
        if num%2==0:
            lstr = lstr + i.upper()
            num+=1
        else: 
            lstr = lstr + i.lower()
            num+=1
    return lstr

In [26]:
myfunc()

'HeLlObAbY'

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

In [32]:
def check(a=2,b=4):
    if a%2==0 and b%2==0:
        if a>b:
            return b
        else:
            return a
    else:
        if a>b:
            return a
        else:
            return b

In [33]:
check()

2

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

In [99]:
def checkstr(a=""):
    wordlist = a.split()
    return wordlist[0][0] == wordlist[1][0]

In [100]:
checkstr("abc bds")

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return FalseÂ¶

In [103]:
def twenty(a=10,b=10):
    return a+b == 20 or a==20 or b==20

In [40]:
twenty()

True

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

In [47]:
def old(str="macdonald"):
    lstr=""
    num=0
    for i in str:
        if num==0 or num==3:
            lstr = lstr + i.upper()
            num+=1
        else: 
            lstr = lstr + i.lower()
            num+=1
    return lstr

In [48]:
old()

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed

In [106]:
def yoda(str="Hello World"):
       return ' '.join(str.split()[::-1])

In [107]:
yoda()

'World Hello'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [64]:
def there(num=15):
    return 90<num<110 or 190<num<210

In [65]:
there()

False

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [120]:
def find(nums=[3,3,1,2]):
    for i in range(0, len(nums)-1):
        # nicer looking alternatie in commented code
        #if nums[i] == 3 and nums[i+1] == 3:
        if nums[i:i+2] == [3,3]:
            return True  
    return False

In [121]:
find()

True

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

In [75]:
def doll(str="Ravin"):
    first=""
    for i in str:
        first = first + (i*3)
    return first

In [76]:
doll()

'RRRaaavvviiinnn'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST

In [123]:
def black(a,b,c):
    sum = a+b+c
    if sum <= 21:
        return sum
    elif sum > 21 and (a==11 or b==11 or c==11):
        sum = sum - 10
        if sum < 21:
            return sum
        else:
            return "BUST"

In [124]:
black(10,11,11)

'BUST'

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers

In [128]:
 def summer(*args):
        sum=0
        add= True
        for num in args:
            while add:
                if num !=6:
                    sum += num
                    break
                else:
                    add=False
            while not add:
                if num !=9:
                    break
                else:
                    add=True
                    break
        return sum

In [129]:
summer(1,2,3,4,6,3,4,9,1,2)

13

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

In [4]:
def spy(lit):
    code = [0,0,7,'x']
    
    for num in lit:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [5]:
spy([1,2,3,4,0,1,7,0,0,7])

True

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

In [8]:
def prime(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [9]:
prime(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
print_big('a')

out:   *  
      * *
     *****
     *   *
     *   *

In [11]:
def big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [14]:
big('a')

  *
 * *
*****
*   *
*   *